


#dashboard-heading {
    text-align: center;
    background-color: blue;
    background-image: linear-gradient(to right,rgb(207, 191, 102) , rgb(37, 37, 78));
    color: white;
    height: 75px;
    margin-bottom: 10px;
}

.card {
    border-bottom: 2px solid black;
    border-top: white;
    border-right: white;
    border-left: white;
    margin: 10px;
    padding: 5px;
    padding-bottom: 20px;
    width: 240px;
    border-radius: 0px;

   
}

#search-btn {
    margin: 5px;
    width: 220px;
    background-color: rgb(207, 191, 102);
    color: white;
    border-radius: 5px;
}



.input {
    width: 140px;
    height: 20px;
    margin: 5px;
    height: 30px;
    width: 220px;
    border-radius: 5px;
}

.current-city {
    margin: 0px;
    
}

#city-container {
    width: 800px;
    margin: 10px;
    padding: 10px;
}

.forecast {
    margin: 8px;
}

.city-btn {
    background-color: rgb(207, 191, 102);
    width: 210px;
    height: 30px;
    text-align: center;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    
    
    
}

#city-list {
    list-style-type: none;
    
    
}

#uv {
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 3px;
}

#day-1 {
    margin: 10px;
    color: white;
    background-color: rgb(94, 93, 139);
    height: 150px;
    padding: 20px;
}

#day-2 {
    margin: 10px;
    color: white;
    background-color: rgb(94, 93, 139);
    height: 150px;
    padding: 20px;
}

#day-3 {
    margin: 10px;
    background-color: rgb(94, 93, 139);
    color: white;
    height: 150px;
    padding: 20px;
}

#day-4 {
    margin: 10px;
    background-color: rgb(94, 93, 139);
    color: white;
    height: 150px;
    padding: 20px;
}

#day-5 {
    margin: 10px;
    background-color: rgb(94, 93, 139);
    color: white;
    height: 150px;
    padding: 20px;
}

.icon {
    width: 3px;
    height: 3px;
}

.favorable {
background-color: green;
color: white;
width: 150px;
}

.moderate {
background-color: orange;
color: white;
}

.severe {
background-color: red;
color: white;
}